<!DOCTYPE html>
<html>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Flixter</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">HEADER LINK 1 <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">HEADER LINK 2</a>
      <a class="nav-item nav-link" href="#">HEADER LINK 3</a>
      <a class="nav-item nav-link disabled" href="#">HEADER LINK - Disabled</a>
    </div>
  </div>
</nav>

<h1>Learn Magic from the Pros</h1> 
<h2>I'm an illusionist, Michael.</h2>



