<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>The Font of Knowledge</h1> 
    <br />
    <h2>Watch and learn</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center"> 

  <div class="col-12 col-sm">
    <h3>Satisfy Your Curiosity</h3>
    <br />
    <p>Choose the things that pique YOUR curiosity.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Easy Access</h3>
    <br />
    <p>You don't need a powerful machine to enroll. It's easy to get connected and start learning. </p>
  </div>  

  <div class="col-12 col-sm">
    <h3>Keep Your Schedule</h3>
    <br />
    <p>We give you the power to learn when you want, and at your own pace.</p>
  </div>

</div>



