@import "bootstrap";
@import "font-awesome";

/*  NOTES & COMMENTS

Items left with default lesson style / unstyled:
  -Font stacks (Helvetica) - this has been stuck in the variable $main-font-family (except for the navbar font family, which has its own variable)
  -booyah-box
  -.lesson background color
  -.lesson a

Items with placeholder / possibly temporary styling:
  -(none)

Style Ideas/Tweaks/Issues
  - Need to adjust the placement of the alert-danger overlay to go right for 2 reasons
      (1) "Log in", etc header on login page gets covered by it
      (2) If a danger and info ever get put together, one (danger) needs to be moved over
      --> The x space needs to moved over an amount equal to the width of the info box width
  - The navbar shadow color is possibly inverted. Check on this
  - Scaling font size, based on screen size (see saved article)
    - See if this info can also be useful background scaling issue (listed somewhere below)
  - Make the flash display area look better (it pushes the page). Try an overlay?
  -Issue: On log-in page: the 'remember me' checkbox goes off the screen
  - lessons_controller - 'render plain' looks terrible (is displayed in 2 places)
    - Same goes for sections_controller and courses_controller
    - All 3 share the exact same line of code
  - The background image (cat + laptop) does not line up properly for phones/smaller displays
  

  ISSUES:
  - The footer is not sticking to bottom of screen. Will have to go back look into this
  
  */


  $main-font-family: "Helvetica Neue", Helvetica; /* Can adjust this if need be */

  
/*  MIXED ==================================================================================================== */

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

/*  HTML ===================================================================================================== */

body, p {
  color: #dcdcdc; /* Font change done during creation process */
}

body {
  background: image_url('bg.png'); /* Chosen font stack: */
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

ul {
  list-style-type: none;

  .header {
    font-size: 25px;

    .fa {
      font-size: 20px;
    }
  }
}

/*  CLASSES ================================================================================================== */

$boobox-box-shadow: 1px 1px 2px 0 #d0d0d0;
$boobox-border-color-a: #e4e4e4;
$boobox-border-color-b: #bebebd;

$boobox-background-color: #0f0f0f;
  /* "Blood red", but with R:102 changed to R:100 #640000 */
  /* My original dark blue #02010a; Lighter version of dark blue gb: #040214; Lesson color: #fff */

.booyah-box {
  -moz-box-shadow:    $boobox-box-shadow;
  -webkit-box-shadow: $boobox-box-shadow;
  box-shadow:         $boobox-box-shadow;
  background:         $boobox-background-color;

  border: 1px solid #ccc;
  border-color: $boobox-border-color-a $boobox-border-color-b $boobox-border-color-a $boobox-border-color-b;
  padding: 10px;

  h1, h2 {
    margin: 10px;
  }

}

.clr {
  clear: both;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.flash-overlay{
  position: absolute;
  z-index: 2000000000;
  opacity: 75%;

  .alert-info{

  }
  .alert-danger{

  }

}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;

  h1, h2 {
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    font-family: $main-font-family;
  }

  h1 {
    font-weight: 100;
  }

  h2 {
    font-weight: 200;
  }
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed; /*Photo by Tim Mossholder*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;          /*This value (the lesson recommented) seems strange or arbitrary. But coincidentally, the perfect part of image displays*/
  box-shadow: 0px 3px 8px #2a2a2a; /*Lesson color*/
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;

  a{
    color: white;
    font-family: $main-font-family;
    font-weight: 100;
    font-size: 15px;

    b{
      font-weight: 100;
      font-weight: 25px;
    }
  }
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: $main-font-family;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;

  b {
    font-size: 25px;
    font-weight: 100;
  }

  p {
    margin: 0;
  }
}

.section {
  border: 1px solid;
  border-color: $boobox-border-color-a $boobox-border-color-b $boobox-border-color-a $boobox-border-color-b;
  padding: 20px;
}

.section-li {
  border: 1px solid;
  border-color: $boobox-border-color-a $boobox-border-color-b $boobox-border-color-a $boobox-border-color-b;
  padding: 20px;
  margin: 20px;
}

/*  BOOTSTRAP ================================================================================================ */

$navbar-font-family: "Helvetica Neue", Helvetica; /* Can adjust this if need be */

/* Add alert styles too */

.btn {
  border-radius: 0;
}

.form-control {
  background-color: $boobox-background-color;
  border-color: white;
}

.form-control:focus {
  background-color: #464a4c;
  color: white;
}

.navbar {
  font-family: $navbar-font-family;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a; /* Lesson color was #2a2a2a - inverted version of that ends up as #d5d5d5 */
  background: image_url('ripples.png'); /* Another cool pattern by Olivia Harmon from Subtle Patterns (https://www.toptal.com/designers/subtlepatterns) */
  
  /* For the backstory on this inversion styling, see my blog post:
  https://medium.com/@smith.julian.f/navbar-inversion-conversion-d56e8d3f8ac6 */

  filter: invert(1);
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.navbar-inverse a.navbar-brand {
  font-family: $navbar-font-family;
  font-weight: 100;
  color: white;

}